:root {
    --primary-color: #405de6;
    --secondary-color: #5851db;
    --background-color: #fafafa;
    --text-color: #262626;
    --light-text-color: #8e8e8e;
    --border-color: #dbdbdb;
}

/* General styles */
body {
    font-family: 'Poppins', sans-serif;
}

.container {

    max-width: 1200px;
    margin: 0 auto;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.post {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.post-content {
    padding: 15px;
    flex-grow: 1;
}

.post-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color);
}

.post-info {
    font-size: 14px;
    color: var(--light-text-color);
    margin-bottom: 5px;
}

.post-description {
    font-size: 14px;
    line-height: 1.4;
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border-top: 1px solid var(--border-color);
}

.post-date {
    font-size: 12px;
    color: var(--light-text-color);
    text-align: right;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
}

.modal-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.modal-image {
    max-width: 100%;
    max-height: 50vh;
    object-fit: contain;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-thumbnails {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.modal-thumbnail {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.modal-thumbnail:hover {
    transform: scale(1.1);
}

.modal-details {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

.modal-details p {
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--text-color);
}
.modal-details pre {
    font-family: 'Poppins', sans-serif; /* Igual que otros textos */
    font-size: 14px;
    color: var(--text-color);
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    white-space: pre-wrap; /* Permite que el texto se ajuste */
    line-height: 1.6;
    margin-bottom: 10px;
}


.modal-footer {
    margin-top: 20px;
    text-align: right;
    font-size: 14px;
    color: var(--light-text-color);
}

/* Responsiveness */
@media (max-width: 768px) {
    .posts {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .modal-content {
        width: 90%;
        margin: 10% auto;
    }

    .modal-image {
        max-height: 40vh;
    }
}




.whatsapp-share {
    text-align: center;
}



.whatsapp-share p {
    margin-top: 7px;
    margin-bottom: 7px;
}

.whatsapp-share .input-group {
    max-width: 400px;
    margin: 0 auto;
}

.whatsapp-share .btn-success {
    min-width: 200px;
    margin-top: 10px;
    background-color: #128C7E;
    border-color: #128C7E;
}

.whatsapp-share .btn-success:hover {
    background-color: #075E54;
    border-color: #075E54;
}
